* {
  background-color: #161616;
}

.App {
  max-width: 960px;
  margin: 0 auto;
  color: #C5C5CD;
}
nav {
  display: flex;
  color: #C5C5CD;
  margin: 0 auto 60px;
  gap: 10px;
  align-items: center;
  font-size: 1.2rem;
}
nav h1 {
  margin-right: auto;
}
nav a {
  color: #C5C5CD;
  padding: 4px 10px;
  text-decoration: none;
}
nav a.active {
  color: #5C74DA;
  text-decoration: none;
}